<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 회원정보 처리 SQL -->
<mapper namespace="project2.scmaster.rodo.dao.MemberMapper">

<insert id = "insert" parameterType = "Member">

	insert
		into
			rodo_member
			(
				id
				, password
				, email
			)
			
			values
			(
				#{id}
				, #{password}
				, #{email}
			)

</insert>

<select id = "selectOne" resultType = "Member" parameterType = "String">

	select
		id
		, password
		, email
		
	from
		rodo_member
	
	where 
		id = #{id}
		

</select>

<select id = "findid" resultType = "String" parameterType = "String">

	select
		id
	
	from
		rodo_member
		
	where
		email = #{email}
	
</select>

<select id = "emailcheck" resultType = "String" parameterType = "String">

	select
		email
		
	from
		rodo_member
		
	where
		email = #{email}

</select>

<update id = "update" parameterType = "Member">

	update
		rodo_member
		
	set
		password = #{password}
		, email = #{email}
		
	where
		id = #{id}

</update>

<update id = "updatepw" parameterType = "Member">

	update
		rodo_member
		
	set
		password = #{password}
			
	where
		id = #{id}
	
</update>

</mapper>