<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 회원정보 처리 SQL -->
<mapper namespace="project2.scmaster.rodo.dao.MessageMapper">

<insert id = "writeMessage" parameterType = "Message">

	insert
		into
			rodo_sendmessage
			(
				sendmessage_num
				, sendmessage_sender
				, sendmessage_receiver
				, sendmessage_title
				, sendmessage_text
			)
			
	values
			(
				rodo_sendmessage_seq.nextval
				, #{sender}
				, #{receiver}
				, #{title}
				, #{text}
			)

</insert>


<insert id = "writereceiveMessage" parameterType = "Message">

	insert
		into
			rodo_receivemessage
			(
				receivemessage_num
				, receivemessage_sender
				, receivemessage_receiver
				, receivemessage_title
				, receivemessage_text
			)
			
	values
			(
				rodo_receivemessage_seq.nextval
				, #{sender}
				, #{receiver}
				, #{title}
				, #{text}
			)
		
</insert>


<select id = "receivedMessage" parameterType="String" resultType ="Message">

	select
		receivemessage_num messagenum
		, receivemessage_sender sender
		, receivemessage_receiver receiver
		, receivemessage_title title
		, receivemessage_text text
		, to_char(receivemessage_send_dt, 'yyyy.MM.dd HH:MI') senddate
		, receivemessage_read_fl flag

	from 
		rodo_receivemessage
		
	<if test = "_parameter != null">
		where
			receivemessage_receiver = #{id}
	</if>	
		
	order by
		receivemessage_num desc
	
</select>

<select id = "sendreadMessage" parameterType="int" resultType ="Message">

	select
		sendmessage_num messagenum
		, sendmessage_sender sender
		, sendmessage_receiver receiver
		, sendmessage_title title
		, sendmessage_text text
		, to_char(sendmessage_send_dt, 'yyyy.MM.dd HH:MI') senddate
		, sendmessage_read_fl flag

	from 
		rodo_sendmessage
		
	where
		sendmessage_num = #{messagenum}
		
</select>


<select id = "receivedreadMessage" parameterType = "int" resultType = "Message">

	select
		receivemessage_num messagenum
		, receivemessage_sender sender
		, receivemessage_receiver receiver
		, receivemessage_title title
		, receivemessage_text text
		, to_char(receivemessage_send_dt, 'yyyy.MM.dd HH:MI') senddate
		, receivemessage_read_fl flag
		
	from 
		rodo_receivemessage
		
	where
		receivemessage_num = #{messagenum}
		
</select>


<select id = "newMessage" parameterType="String" resultType = "Message">

	select
		receivemessage_num messagenum
		, receivemessage_sender sender
		, receivemessage_receiver receiver
		, receivemessage_title title
		, receivemessage_text text
		, to_char(receivemessage_send_dt, 'yyyy.MM.dd HH:MI') senddate
		, receivemessage_read_fl flag

	from 
		rodo_receivemessage
	
	where
		receivemessage_receiver = #{id} 
		
		and receivemessage_read_fl = 0
		
	order by
		receivemessage_num desc
	
</select>


<select id = "sentMessage" parameterType="String" resultType = "Message">

	select
		sendmessage_num messagenum
		, sendmessage_sender sender
		, sendmessage_receiver receiver
		, sendmessage_title title
		, sendmessage_text text
		, to_char(sendmessage_send_dt, 'yyyy.MM.dd HH:MI') senddate
		, sendmessage_read_fl flag

	from 
		rodo_sendmessage
		
	where
		sendmessage_sender = #{id}
		
	order by
		sendmessage_num desc
	
</select>


<select id = "receivelistsize" parameterType = "String" resultType = "int">

	select
		count(*)
		
	from
		rodo_receivemessage
		
	where
		receivemessage_receiver = #{id}
	
</select>


<select id = "findreceivelistsize" resultType = "int">

	select
		count(*)
		
	from
		rodo_receivemessage
		
	where
		receivemessage_receiver = #{0}
		
	and
		receivemessage_title = #{1}

</select>


<select id = "sendlistsize" parameterType = "String" resultType = "int">

	select
		count(*)
		
	from
		rodo_sendmessage
		
	where
		sendmessage_sender = #{id}
	
</select>


<select id = "findsendlistsize" resultType = "int">

	select
		count(*)
		
	from
		rodo_sendmessage
		
	where
		sendmessage_sender = #{0}
		
	and
		sendmessage_title = #{1}

</select>


<select id = "receivelist" parameterType = "String" resultType = "Message">

	select
		receivemessage_num messagenum
		, receivemessage_sender sender
		, receivemessage_receiver receiver
		, receivemessage_title title
		, receivemessage_text text
		, to_char(receivemessage_send_dt, 'yyyy.MM.dd HH:MI') senddate
		, receivemessage_read_fl flag

	from 
		rodo_receivemessage
	
	<if test = "_parameter != null">
		where
			receivemessage_receiver = #{id}
	</if>	
	
	order by
		receivemessage_num desc
		
</select>


<select id = "sendlist" parameterType = "String" resultType = "Message">

	select
		sendmessage_num messagenum
		, sendmessage_sender sender
		, sendmessage_receiver receiver
		, sendmessage_title title
		, sendmessage_text text
		, to_char(sendmessage_send_dt, 'yyyy.MM.dd HH:MI') senddate
		, sendmessage_read_fl flag

	from 
		rodo_sendmessage
	
	<if test = "_parameter != null">	
		where
			sendmessage_sender = #{id}
	</if>
		
	order by
		sendmessage_num desc

</select>


<delete id = "deletereceiveMessage" parameterType ="Message">

	delete
		from
			rodo_receivemessage
			
	where
		receivemessage_num = #{messagenum}
		
	and
		receivemessage_receiver = #{receiver}

</delete>


<delete id = "deletesendMessage" parameterType = "Message">

	delete
		from
			rodo_sendmessage
			
	where
		sendmessage_num = #{messagenum}
		
	and
		sendmessage_sender = #{sender}

</delete>


<delete id = "alldeleteReceive" parameterType = "Message">

	delete
		from
			rodo_receivemessage
	
	where
		receivemessage_receiver = #{receiver}
		

</delete>


<delete id = "alldeleteSend" parameterType = "String">

	delete
		from
			rodo_sendmessage
			
	where
		sendmessage_sender = #{sender}

</delete>


<select id = "findreceivedMessage" parameterType = "String" resultType = "Message">

	select
		receivemessage_num messagenum
		, receivemessage_sender sender
		, receivemessage_receiver receiver
		, receivemessage_title title
		, receivemessage_text text
		, to_char(receivemessage_send_dt, 'yyyy.MM.dd HH:MI') senddate
		, receivemessage_read_fl flag

	from 
		rodo_receivemessage
	
	<if test = "_parameter != null">		
		where
			receivemessage_title = #{searchText}
	</if>
	
	order by
		receivemessage_num desc

</select>


<select id = "findsentMessage" parameterType = "String" resultType = "Message">

	select
		sendmessage_num messagenum
		, sendmessage_sender sender
		, sendmessage_receiver receiver
		, sendmessage_title title
		, sendmessage_text text
		, to_char(sendmessage_send_dt, 'yyyy.MM.dd HH:MI') senddate
		, sendmessage_read_fl flag

	from 
		rodo_sendmessage
	
	<if test = "_parameter != null">	
		where
			sendmessage_title = #{searchText}
	</if>
	
	order by
		sendmessage_num desc

</select>

<update id="readCheck" parameterType="int">

update
	rodo_receivemessage
set
	receivemessage_read_fl = 1
where
	receivemessage_num = #{msgnum}

</update>

</mapper>