<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 게시판 처리 SQL -->
<mapper namespace="project2.scmaster.rodo.dao.PhotoBoardMapper">

	<!-- 파일 저장 -->
	<insert id="PhotoInsertBoard" parameterType="Board">
		insert into rodo_photofile (
			photo_boardnum
			<if test="photofile_original != null and photofile_saved != null">
			, photofile_original
			, photofile_saved
			</if>
		)
		values (
			rodo_photoboard_seq.nextval
			<if test="photofile_original != null and photofile_saved != null">
			, #{photofile_original}
			, #{photofile_saved}
			</if>
		)
	</insert>
	
	<!-- 게시글 읽기 -->
	<select id="PhotoGetBoard" parameterType="int" resultType="Board">
		select 
			photo_boardnum
			, photofile_original
			, photofile_saved
		from 
			rodo_photofile 
		where 
			photo_boardnum = #{photo_boardnum}
	</select>
	
	<select id="PhotoSelelctBoardnum" resultType="int">
		select
			MAX(photo_boardnum)
		from
			rodo_photofile
	</select>

	<select id = "PhotoList" resultType = "Board">
		select 
			* 
		from 
			rodo_photofile
	</select>
</mapper>
