<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 회원정보 처리 SQL -->
<mapper namespace="project2.scmaster.rodo.dao.Rodo_FreeBoardMapper">

<insert id = "write" parameterType = "Rodo_FreeBoard">
	insert into
		rodo_freeboard(
			free_boardnum
			, free_id
			, free_title
			, free_content
		)
		values(
			rodo_freeboard_seq.nextval
			, #{free_id}
			, #{free_title}
			, #{free_content}
		)
</insert>


<insert id = "writefile" parameterType = "HashMap">
	insert into
		rodo_freefile(
			free_boardnum
			<!-- <if test = "freefile_original != null and freefile_saved != null"> -->
				, freefile_original
				, freefile_saved
			<!-- </if> -->
			)
		values(
			#{free_boardnum}
			<!-- <if test = "freefile_original != null and freefile_saved != null"> -->
				, #{freefile_original}
				, #{freefile_saved}
			<!-- </if>	 -->
		)
</insert>

<update id = "hitup" parameterType = "Rodo_FreeBoard">
	update
		rodo_freeboard
	set
		free_hit = #{free_hit} + 1
	where 
		free_boardnum = #{free_boardnum}
</update>


<select id="getsequence" resultType="int">
	select
		MAX(free_boardnum)
	from
		rodo_freeboard
</select>

<select id = "list" resultType = "Rodo_FreeBoard">
	select
		free_boardnum
		, free_id
		, free_title
		, free_content
		, free_input_dt
		, free_update_dt
		, free_hit

	from 
		rodo_freeboard
		
		<if test = "_parameter != null">
			where
				free_title like '%' || #{searchText} || '%'
		</if>
		
	order by
		free_boardnum desc
</select>


<select id = "selectOne" parameterType = "int" resultType = "Rodo_FreeBoard">
		select
			free_boardnum
			, free_id
			, free_title
			, free_content
			, free_input_dt
			, free_update_dt
			, free_hit
		from
			rodo_freeboard
		where
			free_boardnum = #{free_boardnum}
		order by 
			free_boardnum asc
</select>

<!-- 보드파일리스트 가져오기 -->
	<select id = "FreeFileList" parameterType="int"  resultType = "HashMap">
		select 
			freefile_original freefile_original
			, freefile_saved freefile_saved
		from 
			rodo_freefile
		where 
			free_boardnum = #{free_boardnum} 
		order by 
			free_boardnum asc
	</select>

	<delete id = "delete" parameterType = "int">
		delete 
			rodo_freeboard
		where 
				free_boardnum = #{free_boardnum}
	</delete>

	<delete id="deleteFreeFile" parameterType="int">
		delete
			rodo_freefile
		where 
			free_boardnum = #{free_boardnum}
	</delete>




<update id = "updateFree" parameterType = "Rodo_FreeBoard">
	update
		rodo_freeboard
	set
		free_title = #{free_title},
		free_content = #{free_content},
		free_update_dt = sysdate
	where 
		free_boardnum = #{free_boardnum}
</update>



<!-- ********************************** 리플 ********************************** -->


<insert id = "writereply" parameterType = "Rodo_FreeReply">

	insert
		into
			rodo_freereply
			(
				freereply_replynum
				, free_boardnum
				, freereply_id
				, freereply_text
			)
			
		values
			(
				rodo_freereply_seq.nextval
				, #{free_boardnum}
				, #{freereply_id}
				, #{freereply_text}
			)
		
</insert>


<select id = "findreply" parameterType = "int" resultType = "Rodo_FreeReply">

	select
		freereply_replynum
		, free_boardnum
		, freereply_id
		, freereply_text
		, freereply_input_dt
		
	from
		rodo_freereply
		
	where
		free_boardnum = #{free_boardnum}
	
	order by
		freereply_replynum
	
</select>


<select id = "selectreply" parameterType = "int" resultType = "Rodo_FreeReply">

	select 
		freereply_replynum
		, free_boardnum
		, freereply_id
		, freereply_text
		, freereply_input_dt
		, freereply_update_dt
		
	from
		rodo_freereply
		
	where
		freereply_replynum = #{freereply_replynum}

</select>


<delete id = "deletereply" parameterType = "Rodo_FreeReply">

	delete
		from
			rodo_freereply
			
		where
			freereply_replynum = #{freereply_replynum}
			
		and
			free_boardnum = #{free_boardnum}

</delete>


<!-- ********************************** 페이징 ********************************** -->


	<select id = "listsize" parameterType = "String" resultType = "int">
	
		select 
			count(*)
			
		from
			rodo_freeboard
		
		<if test = "_parameter != null">
			where
				free_title like '%' || #{searchText} || '%'
		</if>
		
	</select>


</mapper>