<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 회원정보 처리 SQL -->
<mapper namespace="project2.scmaster.rodo.dao.Rodo_GpsBoardMapper">

	<select id = "list" resultType = "Rodo_GpsBoard">
	
		select
			gps_boardnum
			, gps_id
			, gps_title
			, gps_content
			, gps_gpxinfo
			, gps_location
			, gps_input_dt
			, gps_update_dt
			, gps_marker
			, gps_hit
		
		from
			rodo_gpsboard
		
		<if test = "_parameter != null">
			where
				gps_title like '%' || #{searchText} || '%'
		</if>
		
		order by
			gps_boardnum desc
		
	</select>

	
	<select id = "listsize" parameterType = "String" resultType = "int">
	
		select 
			count(*)
			
		from
			rodo_gpsboard
		
		<if test = "_parameter != null">
			where
				gps_title like '%' || #{searchText} || '%'
		</if>
	
	</select>
	
	
	<select id = "getsequence" resultType = "int">
	
		select
			MAX(gps_boardnum)
			
		from
			rodo_gpsboard
	
	</select>
	
	
	<insert id = "writegps" parameterType = "Rodo_GpsBoard">
	
		insert 
			into
				rodo_gpsboard
				(
					gps_boardnum
					, gps_id
					, gps_title
					, gps_content
					, gps_gpxinfo
					, gps_location
				)
				
				values
				(
					rodo_gpsboard_seq.nextval
					, #{gps_id}
					, #{gps_title}
					, #{gps_content}
					, #{gps_gpxinfo}
					, #{gps_location}
				)
			
	</insert>
	
	
	<insert id = "writegpsfile" parameterType = "Rodo_GpsBoard">
	
		insert
			into
				rodo_gpsfile
				(
					gps_boardnum
					, gpsfile_original
					, gpsfile_saved
				)
				
				values
				(
					#{gps_boardnum}
					, #{gpsfile_original}
					, #{gpsfile_saved}
				)
					
	</insert>
	
	
	<select id = "selectOne" parameterType = "int" resultType = "Rodo_GpsBoard">
	
		select
			b.gps_boardnum
			, b.gps_id
			, b.gps_title
			, b.gps_content
			, b.gps_gpxinfo
			, b.gps_location
			, b.gps_input_dt
			, b.gps_update_dt
			, b.gps_marker
			, b.gps_hit
			, f.gpsfile_original
			, f.gpsfile_saved
		
		from
			rodo_gpsboard
			
		where
			b.gps_boardnum = #{gps_boardnum}
			
		and
			b.gps_boardnum = f.gps_boardnum
		
	</select>
	
	
</mapper>