<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 회원정보 처리 SQL -->
<mapper namespace="project2.scmaster.rodo.dao.Rodo_GpsBoardMapper">

	<select id = "list" resultType = "Rodo_GpsBoard">
	
		select
			gps_boardnum
			, gps_id
			, gps_title
			, gps_content
			, gps_gpxinfo
			, gps_location
			, gps_input_dt
			, gps_update_dt
			, gps_marker
			, gps_hit
		
		from
			rodo_gpsboard
		
		<if test = "_parameter != null">
			where
				gps_title like '%' || #{searchText} || '%'
		</if>
		
		order by
			gps_boardnum desc
		
	</select>

	
	<select id = "listsize" parameterType = "String" resultType = "int">
	
		select 
			count(*)
			
		from
			rodo_gpsboard
		
		<if test = "_parameter != null">
			where
				gps_title like '%' || #{searchText} || '%'
		</if>
	
	</select>
	
	
	<select id = "getsequence" resultType = "int">
	
		select
			MAX(gps_boardnum)
			
		from
			rodo_gpsboard
	
	</select>
	
	
	<insert id = "writegps" parameterType = "Rodo_GpsBoard">
	
		insert 
			into
				rodo_gpsboard
				(
					gps_boardnum
					, gps_id
					, gps_title
					, gps_content
					, gps_gpxinfo
					, gps_location
					, gps_marker
					, gpsfile_original
					, gpsfile_saved
				)
				
				values
				(
					rodo_gpsboard_seq.nextval
					, #{gps_id}
					, #{gps_title}
					, #{gps_content}
					, #{gps_gpxinfo}
					, #{gps_location}
					, #{gps_marker}
					, #{gpsfile_original}
					, #{gpsfile_saved}
				)
			
	</insert>
		
	
	<select id="selectOne" parameterType ="int" resultType ="Rodo_GpsBoard">
	
		select
			gps_boardnum
			, gps_id
			, gps_title
			, gps_content
			, gps_gpxinfo
			, gps_location
			, gps_input_dt
			, gps_update_dt
			, gps_marker
			, gps_hit
			, gpsfile_original
			, gpsfile_saved
		
		from
			rodo_gpsboard
			
		where
			gps_boardnum = #{gps_boardnum}
			
		and
			gps_boardnum = gps_boardnum
		
	</select>
	
	<update id="updateGps" parameterType="Rodo_GpsBoard">
		update 
			rodo_gpsboard
		set
			gps_title = #{gps_title}
			, gps_content = #{gps_content}
			, gps_update_dt = sysdate
		<if test="gpsfile_original != null">
			, gpsfile_original = #{gpsfile_original}
			, gpsfile_saved = #{gpsfile_saved}
		</if>
		where
			gps_boardnum = #{gps_boardnum}
		and
			gps_id = #{gps_id}
	
	</update>
	
</mapper>