<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 회원정보 처리 SQL -->
<mapper namespace="project2.scmaster.rodo.dao.VideoBoardMapper">

<insert id = "write" parameterType = "Video">

	insert
		into
			rodo_videoboard
			(
				video_boardnum
				, video_id
				, video_title
				, video_content
				, video_originalfile
				, video_savedfile
				, video_thumbnail
			)
			
			values
			(
				rodo_video_seq.nextval
				, #{video_id}
				, #{video_title}
				, #{video_content}
				, #{video_originalfile}
				, #{video_savedfile}
				, #{video_thumbnail}
			)

</insert>



<select id="getsequence" resultType="int">
	
	select
		MAX(free_boardnum)
			
	from
		rodo_freeboard
	
</select>


<!-- <insert id = "writefile" parameterType = "Rodo_FreeFile">

	insert
		into
			rodo_freefile
			(
				free_boardnum
				, freefile_original
				, freefile_saved
			)
			
			values
			(
				, #{free_boardnum}
				, #{freefile_original}
				, #{freefile_saved}
			)

</insert> -->


<select id = "list" resultType = "Rodo_FreeBoard">

	select
		free_boardnum
		, free_id
		, free_title
		, free_content
		, free_input_dt
		, free_update_dt
		, free_hit

	from 
		rodo_freeboard
		
		<if test = "_parameter != null">
			where
				free_title like '%' || #{searchText} || '%'
		</if>
		
	order by
		free_boardnum desc
	
</select>


<select id = "selectOne" parameterType = "int" resultType = "Rodo_FreeBoard">

		select
			b.free_boardnum
			, b.free_id
			, b.free_title
			, b.free_content
			, b.free_input_dt
			, b.free_update_dt
			, b.free_hit
			, f.freefile_original
			, f.freefile_saved
			
		from
			rodo_freeboard b, rodo_freefile f
	
		where
			b.free_boardnum = #{free_boardnum}
	
		and
			b.free_boardnum = f.free_boardnum

</select>


<select id = "selectnofile" parameterType = "int" resultType ="Rodo_FreeBoard">

		select
			free_boardnum
			, free_id
			, free_title
			, free_content
			, free_input_dt
			, free_update_dt
			, free_hit
			
		from
			rodo_freeboard
			
		where 
			free_boardnum = #{free_boardnum}

</select>


<delete id = "delete" parameterType = "Rodo_FreeBoard">

	delete 
		from
			rodo_freeboard
			
		where 
			free_boardnum = #{free_boardnum}
			
		and
			free_id = #{free_id}

</delete>


<update id = "update" parameterType = "Rodo_FreeBoard">

	update
		rodo_freeboard
		
	set 
		free_title = #{free_title}
		, free_content = #{free_content}
		
		<if test = "freefile_original != null and freefile_saved != null">
		
			, freefile_original = #{freefile_original}
			, freefile_saved = #{freefile_saved}
			
		</if>
	
	where 
		free_boardnum = #{free_boardnum}
	
</update>



<!-- ********************************** 리플 ********************************** -->


<insert id = "writereply" parameterType = "Rodo_FreeReply">

	insert
		into
			rodo_freereply
			(
				freereply_replynum
				, free_boardnum
				, freereply_id
				, freereply_text
			)
			
		values
			(
				rodo_freereply_seq.nextval
				, #{free_boardnum}
				, #{freereply_id}
				, #{freereply_text}
			)
		
</insert>


<select id = "findreply" parameterType = "int" resultType = "Rodo_FreeReply">

	select
		freereply_replynum
		, free_boardnum
		, freereply_id
		, freereply_text
		, freereply_input_dt
		
	from
		rodo_freereply
		
	where
		free_boardnum = #{free_boardnum}
	
	order by
		freereply_replynum
	
</select>


<select id = "selectreply" parameterType = "int" resultType = "Rodo_FreeReply">

	select 
		freereply_replynum
		, free_boardnum
		, freereply_id
		, freereply_text
		, freereply_input_dt
		, freereply_update_dt
		
	from
		rodo_freereply
		
	where
		freereply_replynum = #{freereply_replynum}

</select>


<delete id = "deletereply" parameterType = "Rodo_FreeReply">

	delete
		from
			rodo_freereply
			
		where
			freereply_replynum = #{freereply_replynum}
			
		and
			free_boardnum = #{free_boardnum}

</delete>


<!-- ********************************** 페이징 ********************************** -->


	<select id = "listsize" parameterType = "String" resultType = "int">
	
		select 
			count(*)
			
		from
			rodo_freeboard
		
		<if test = "_parameter != null">
			where
				free_title like '%' || #{searchText} || '%'
		</if>
		
	</select>


</mapper>