<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 회원정보 처리 SQL -->
<mapper namespace="project2.scmaster.rodo.dao.VideoBoardMapper">

<insert id = "write" parameterType = "Video">

	insert
		into
			rodo_videoboard
			(
				video_boardnum
				, video_id
				, video_title
				, video_content
				, video_originalfile
				, video_savedfile
				, video_thumbnail
			)
			
			values
			(
				rodo_video_seq.nextval
				, #{video_id}
				, #{video_title}
				, #{video_content}
				, #{video_originalfile}
				, #{video_savedfile}
				, #{video_thumbnail}
			)
</insert>

	<!-- 보드리스트 가져오기 -->
	<select id = "Videolist" resultType = "Video">
		select 
			*
		from 
			rodo_videoboard
		order by 
			video_boardnum desc
	</select>
	
	<!-- 게시글 읽기 -->
	<select id="readVideo" parameterType="int" resultType="Video">
		select 
			video_id
			, video_boardnum
			, video_title
			, video_content
			, video_input_dt
			, video_update_dt
			, video_hits
			, video_originalfile
			, video_savedfile
			, video_thumbnail
		from 
			rodo_videoboard
		where 
			video_boardnum = #{video_boardnum}
		order by 
			video_boardnum desc
	</select>
</mapper>