<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 회원정보 처리 SQL -->
<mapper namespace="project2.scmaster.rodo.dao.VideoBoardMapper">

<insert id = "write" parameterType = "Video">

	insert
		into
			rodo_videoboard
			(
				video_boardnum
				, video_id
				, video_title
				, video_content
				, video_originalfile
				, video_savedfile
				, video_thumbnail
			)
			
			values
			(
				rodo_video_seq.nextval
				, #{video_id}
				, #{video_title}
				, #{video_content}
				, #{video_originalfile}
				, #{video_savedfile}
				, #{video_thumbnail}
			)
</insert>

	<!-- 보드리스트 가져오기 -->
	<select id = "Videolist" resultType = "Video">
		select 
			*
		from 
			rodo_videoboard
			<if test = "_parameter != null">
				where
					video_title like '%' || #{searchText} || '%'
			</if>
		order by 
			video_boardnum desc
	</select>
	
	<select id = "listsize" parameterType = "String" resultType = "int">
		
		select 
			count(*)
		from
			rodo_videoboard
		
		<if test = "_parameter != null">
			where
				video_title like '%' || #{searchText} || '%'
		</if>
		
	</select>
	
	
	
	<!-- 게시글 읽기 -->
	<select id="readVideo" parameterType="int" resultType="Video">
		select 
			video_id
			, video_boardnum
			, video_title
			, video_content
			, video_input_dt
			, video_update_dt
			, video_hits
			, video_originalfile
			, video_savedfile
			, video_thumbnail
		from 
			rodo_videoboard
		where 
			video_boardnum = #{video_boardnum}
		order by 
			video_boardnum desc
	</select>
	
	<!-- 보드리스트 삭제하기 -->
	<delete id="deleteVideo" parameterType="int">
		delete
			rodo_videoboard
		where 
			video_boardnum = #{video_boardnum}
	</delete>
	
	<update id="updateVideo" parameterType="Video">
		update  
			rodo_videoboard
		set
			video_title = #{video_title},
			video_content = #{video_content},
			video_originalfile = #{video_originalfile}, 
			video_savedfile = #{video_savedfile}, 
			video_thumbnail = #{video_thumbnail},
			video_update_dt = sysdate
		where 
			video_boardnum = #{video_boardnum}
	</update>
	
	
	<insert id = "writevideoreply" parameterType = "Rodo_VideoReply">
	
		insert
			into
				rodo_videoreply
				(
					videoreply_replynum
					, video_boardnum
					, videoreply_id
					, videoreply_text
				)
				
				values
				(
					rodo_videoreply_seq.nextval
					, #{video_boardnum}
					, #{videoreply_id}
					, #{videoreply_text}
				)
	
	</insert>
	
	
	<select id = "findreply" parameterType = "int" resultType = "Rodo_VideoReply">
	
		select
			videoreply_replynum
			, video_boardnum
			, videoreply_id
			, videoreply_text
			, videoreply_input_dt
			
		from
			rodo_videoreply
			
		where
			video_boardnum = #{video_boardnum}
		
		order by
			videoreply_replynum
	
	</select>
	
	
	<delete id = "deletevideoreply" parameterType = "Rodo_VideoReply">
	
		delete
			from
				rodo_videoreply
				
			where
				videoreply_replynum = #{videoreply_replynum}
				
			and
				video_boardnum = #{video_boardnum}
	
	</delete>
	

</mapper>